@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-onyx {
    background-color: #0a0a0a;
  }
  .bg-black {
    background-color: rgb(0 0 0);
  }

  .bg-primary {
    background-color: oklch(58% 0.233 277.117);
  }
  .bg-primary-20 {
    background-color: oklch(58% 0.233 277 / 0.2);
  }
  .bg-sky {
    background-color: oklch(74% 0.16 232.661);
  }

  .bg-green {
    background-color: oklch(76% 0.177 163.223);
  }

  .bg-red {
    background-color: oklch(71% 0.194 13.428);
  }
  .bg-white {
    background-color: #fff;
  }
  .text-black {
    color: rgb(0 0 0);
  }

  .text-primary {
    color: oklch(58% 0.233 277.117);
  }

  .text-sky {
    color: oklch(74% 0.16 232.661);
  }

  .text-green {
    color: oklch(76% 0.177 163.223);
  }

  .text-red {
    color: oklch(71% 0.194 13.428);
  }
}
