@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/vazirmatn/400.css";
@import "@fontsource/vazirmatn/500.css";
@import "@fontsource/vazirmatn/700.css";

@layer utilities {
  .bg-onyx {
    background-color: #0a0a0a;
  }
  .bg-black {
    background-color: rgb(0 0 0);
  }
  .bg-primary {
    background-color: oklch(58% 0.233 277.117);
  }
  .bg-primary-20 {
    background-color: oklch(58% 0.233 277 / 0.2);
  }
  .bg-sky {
    background-color: oklch(74% 0.16 232.661);
  }

  .bg-green {
    background-color: oklch(76% 0.177 163.223);
  }

  .bg-red {
    background-color: oklch(71% 0.194 13.428);
  }
  .bg-white {
    background-color: #fff;
  }
  .text-black {
    color: rgb(0 0 0);
  }

  .text-primary {
    color: oklch(58% 0.233 277.117);
  }

  .text-sky {
    color: oklch(74% 0.16 232.661);
  }

  .text-green {
    color: oklch(76% 0.177 163.223);
  }

  .text-red {
    color: oklch(71% 0.194 13.428);
  }
}

.recharts-pie path:focus {
  outline: none;
}
.recharts-bar path:focus {
  outline: none;
}
.recharts-pie-label-line {
  stroke: white;
  stroke-width: 1px;
  stroke-dasharray: 4 2;
  opacity: 0.4;
}
.recharts-pie-label-text {
  fill: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
